body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     margin: 0;
}

/*setting left phone photo*/

.phone {
	display: inline;
	position: relative;
	width: 30%;
	float: left;
	left: 160px;
	top: 90px;
	bottom: 20px;
}

/*header color*/

.blueHeader {
	background: rgb(88, 126, 158);
    background: -moz-linear-gradient(90deg, rgb(88, 126, 158) 24%, rgb(59, 98, 133) 88%);
    background: -webkit-linear-gradient(90deg, rgb(88, 126, 158) 24%, rgb(59, 98, 133) 88%);
    background: -o-linear-gradient(90deg, rgb(88, 126, 158) 24%, rgb(59, 98, 133) 88%);
    background: -ms-linear-gradient(90deg, rgb(88, 126, 158) 24%, rgb(59, 98, 133) 88%);
    background: linear-gradient(180deg, rgb(88, 126, 158) 24%, rgb(59, 98, 133) 88%);
	height: 335px;
	background: cover center;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

/*setting brand logo and log-in*/

.brand {
	float: right;
	display: inline-block;
	margin: 7% 2.5% 4% 2%;
	padding-top: 25px;
	width: 25%;
}

.logIn {
	float: right;
	display: inline-block;
	margin: 10% 13% 100px 20px;
	background: rgb(88, 126, 158);
    background: -moz-linear-gradient(90deg, rgb(88, 126, 158) 24%, rgb(59, 98, 133) 88%);
    background: -webkit-linear-gradient(90deg, rgb(88, 126, 158) 24%, rgb(59, 98, 133) 88%);
    background: -o-linear-gradient(90deg, rgb(88, 126, 158) 24%, rgb(59, 98, 133) 88%);
    background: -ms-linear-gradient(90deg, rgb(88, 126, 158) 24%, rgb(59, 98, 133) 88%);
    background: linear-gradient(180deg, rgb(88, 126, 158) 24%, rgb(59, 98, 133) 88%);
	padding: 8px;
	border-radius: 5px;
	border: 1px #D3D3D3;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.logPhoto {
	margin-top: 2px;
}

.logText {
	float: right;
	color: white;
	font-weight: 600;
	margin: 4px 10px 0 10px;
}

/*about the company*/

.about {
	display: inline;
	position: absolute;
	width: 35%;
	float: right;
	right: 160px;
	top: 35%;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
}

h2 {
	font-size: 25px;
	margin: 10px 25px;
	color: #254969;
}

h2.capture {
	margin-bottom: 0;
}

h2.moments {
	margin-top: 0;
}

p {
	margin: 20px 25px;
	font-size: 17px;
}

.firstParagraph {
	margin-top: 25px;
}

/*social buttons */

ul.socialButtons {
	padding-left: 0;
}

.social {
	display: inline-block;
	float: left;
	width: auto;
	padding: 25px;
}

.apple {
	margin-right: 10px;
}

/*about the company div and shadow*/

.shadow {
	height: 40%;
	-webkit-box-shadow: 0px -28px 30px 5px rgba(50, 50, 50, 0.21);
	-moz-box-shadow: 0px -28px 30px 5px rgba(50, 50, 50, 0.21);
	box-shadow: 0px -28px 30px 5px rgba(50, 50, 50, 0.21);
}

/*footer navigation */

footer{
	margin-top: 35%;
	text-align: center;
	margin-bottom: 20px;
	width: 60%;
	margin-left: 20%;
}

li {
	display: inline-block;
	font-weight: 700;
	padding: 10px;
	color: #587F9F;
}

li.copy {
	color: #B9B9BA;
}











