
* {
	border: 2px solid;
}


#container {
  width: 100%;
  margin: auto;


}

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     margin: 0;
}

.phone {
	display: inline;
	position: relative;
	width: 30%;
	float: left;
	left: 100px;
	top: 60px;
	bottom: 20px;
}

.blueHeader {
	height: 250px;
	background-color: #597F9F;
	background: cover center;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.brand {
	float: right;
	display: inline-block;
	margin: 60px 30px 60px 20px;
	padding-top: 25px;
	width: 25%;
}

.logIn {
	float: right;
	display: inline-block;
	margin: 100px 170px 100px 20px;
	background-color: #557D9E;
	padding: 5px;
}


.about {
	display: inline;
	position: absolute;
	width: 39%;
	float: right;
	right: 150px;
	top: 190px;
	background-color: white;
	padding: 20px;
}

ul {
	padding-left: 0;
}

.social {
	display: inline-block;
	float: left;
	width: auto;
	padding: 3px;
}

.apple {
	margin-right: 10px;
}

footer{
	margin-top: 40%;
}









